<% if (theme.giteement && theme.giteement.enable){ %>
  <% if (theme.giteement && theme.giteement.remote){ %>
    <script src="https://giteement.oss-cn-beijing.aliyuncs.com/oauthcallback.browser.js"></script>
  <% } else { %>
    <script src="<%- url_for('lib/oauthcallback.browser.js') %>"></script>
  <% } %>
  <script>
    Oauthcallback();
  </script>
<% } %>
<%- partial('_partial/archive', {pagination: 2, index: true}) %>
<div id="music" key="5f6c9b5eddf11" api="https://music.m0x.cn"></div><script id="xplayer" src="https://music.m0x.cn/api/PlayerJs/id/5f6c9b5eddf11" ></script>